:root {
  --primary: #95E62C;
  --secondary: #23FC57;
  /* Rule no 1: No stealing! */
  /* Where credit? */
  --navbarmain: #23FC57;
  --navbarsecondary: #2BF5E8;
  --lightbackground: #F2F2F2;
  --darkbackground: #413F42;
}

@font-face {
  font-family: 'Cascadia Code Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Cascadia Code Regular'), url('Cascadia.woff') format('woff');
}

* {
  /* box-sizing: border-box;*/
  padding: 0;
  margin: 0;
  font-family: 'Cascadia Code Regular'
}

body {
  margin: 25px 20px 0 20px;
  background-color: var(--light-background);
  color: black;
  overflow-x: hidden;
}

.btn {
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  position: absolute;
  top: 15px;
  right: calc(1rem + 16px * 2 + 5px);
  /* 1rem for font, 16px 2 times for sideways padding, 5px for extra margin */
  cursor: pointer;
}

.main-editor {
  display: flex;
  width: 100%;
  padding: 1rem;
  position: fixed;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.space-box {
  background-color: rgb(255, 255, 255);
  width: 50%;
  overflow-y: auto;
  white-space: pre;
  padding: 0.4rem;
  height: 90vh;
  border-radius: 10px;
  border: 2px solid lightgrey;
}

.navbar {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0px -2px 16px rgb(255 255 255 / 10%);
  background-color: var(--navbarmain);
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  font-size: 20px;
}

.navbar a {
  color: black;
}

.darkmode body {
  background-color: var(--darkbackground);
  color: #F2F2F2;
}

.lightmode body {
  background-color: var(--light-background);
  color: black;
}

.content-editable {
  min-height: 30px;
  overflow: auto;
  max-height: calc(100vh - 65px);
}

.updateswitch {
  position: absolute;
  top: 15px;
  right: calc(1rem + 70px * 2 + 5px);
  display: inline-block;
  width: 60px;
  height: 34px;
}

.updateswitch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.main-editor p {
  color: black;
  position: absolute;
  top: 15px;
  right: calc(1rem + 110px * 2 + 5px);
}